
<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

  <h1 >My Trips</h1>
  <br>
  <div style="width:1500px; box-shadow: 2px 2px #888888; line-height: normal;">

    <h3 >Date and Time</h3>
    <h4 >Driver Name</h4>
    <h4>Car Details</h4>
    <h5>Pickup loc</h5>
    <h5>Drop loc</h5>


  </div>
  <%- include("partials/footer"); -%>  