<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<h1 style="margin-left: 640px;">Ride Complete!</h1>
<br>
  <h4 style=" margin-left: 630px;">You have to pay this amount <%= fare%></h4>
  <h4  style=" margin-left: 630px;">Kindly rate your ride</h4>
  <input  style=" margin-left: 680px;" type="range">

<%- include("partials/footer"); -%>