<%- include("partials/header"); -%>
<div class="center">
    <svg viewBox="0 0 240 80" xmlns="http://www.w3.org/2000/svg">
        <style>
          .Rrrrr { font: italic 40px serif; fill: navy; }
        </style>
        <text x="65" y="55" class="Rrrrr">RAAH!</text>
    </svg>
    <h1>Sign Up</h1>
    <form method="post" action="/">
        <div class="txt_field">
            <input type="text" required name="urname">
            <span></span>
            <label>Name</label>
        </div>
        <div class="txt_field">
            <input type="number" required name="mob_no">
            <span></span>
            <label>Mobile Number</label>
        </div>
        <div class="txt_field">
            <input type="email" required name="mail">
            <span></span>
            <label>Email</label>
        </div>
        
        <div class="txt_field">
            <input type="password" required name="pass">
            <span></span>
            <label>Password</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="pass2">
            <span></span>
            <label>Confirm Password</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="check" value="True">
            <label for="check">I am a cab driver</label>

        </div>
        <input type="submit" value = "Sign Up">
        <div class="signup">
            <a href="/signin">Login Instead</a>
        </div>
    </form>
</div>
<%- include("partials/footer"); -%>